@import "_colors.scss";

// KEYFRAMES
@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px $accentColor, 0 0 15px $accentColor,
      0 0 20px $accentColor, 0 0 40px $accentColor, 0 0 60px #ff0000,
      0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px $accentColor, 0 0 15px $accentColor,
      0 0 20px $accentColor, 0 0 40px $accentColor, 0 0 60px #ff0000,
      0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes arrow-down-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

@-webkit-keyframes echo {
  0% {
    padding: 0;
    margin: 0;
    opacity: 1;
  }

  100% {
    padding: 50px;
    margin: -50px;
    opacity: 0;
  }
}

@keyframes echo {
  0% {
    padding: 0;
    margin: 0;
    opacity: 1;
  }

  100% {
    padding: 400px;
    margin: -400px;
    opacity: 0;
  }
}

// ANIMATIONS
.header-icon-arrow-down {
  animation-name: arrow-down-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 10;
  animation-timing-function: ease-in-out;
}

.waves {
  position: absolute;
  right: 0;
  top: 50%;

  @include mobile {
    display: none;
  }
}

.wave {
  position: absolute;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  padding: 0;

  animation-name: echo;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

  -webkit-animation-name: echo;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
}

.headertext {
  font-size: calc(20px + 18vh);
  text-shadow: 0 0 5px $accentColor, 0 0 15px $accentColor,
    0 0 20px $accentColor, 0 0 40px $accentColor, 0 0 60px #ff0000,
    0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

.wave:nth-of-type(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.wave:nth-of-type(3) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

// MIXINS
@mixin button-hover-animation {
  transition: 0.5s ease transform;
  &:hover {
    transform: scale(1.05);
  }
}

@mixin nav-hover-animation {
  transition: 0.5s ease transform;
  &:hover {
    transform: scale(1.15);
  }
}
