@import "_colors.scss";

// KEYFRAMES
@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px $accentColor, 0 0 15px $accentColor,
      0 0 20px $accentColor, 0 0 40px $accentColor, 0 0 60px #ff0000,
      0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px $accentColor, 0 0 15px $accentColor,
      0 0 20px $accentColor, 0 0 40px $accentColor, 0 0 60px #ff0000,
      0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes arrow-down-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

@-webkit-keyframes echo {
  0% {
    padding: 0;
    margin: 0;
    opacity: 1;
  }

  100% {
    padding: 50px;
    margin: -50px;
    opacity: 0;
  }
}

@keyframes echo {
  0% {
    padding: 0;
    margin: 0;
    opacity: 1;
  }

  100% {
    padding: 400px;
    margin: -400px;
    opacity: 0;
  }
}

// ANIMATIONS
.header-icon-arrow-down {
  animation-name: arrow-down-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 10;
  animation-timing-function: ease-in-out;
}

.waves {
  position: absolute;
  right: 0;
  top: 50%;

  @include mobile {
    display: none;
  }
}

.wave {
  position: absolute;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  padding: 0;

  animation-name: echo;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

  -webkit-animation-name: echo;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
}

.headertext {
  font-size: calc(20px + 18vh);
  text-shadow: 0 0 5px $accentColor, 0 0 15px $accentColor,
    0 0 20px $accentColor, 0 0 40px $accentColor, 0 0 60px #ff0000,
    0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

.wave:nth-of-type(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.wave:nth-of-type(3) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

.lines {
  position: absolute;
  top: 700px;
  // left: 0;
  right: 0;
  height: 60vh;
  margin: auto;
  width: 40vw;

  @include mobile {
    display: none;
  }

  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.0);
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 1px;
      height: 15vh;
      width: 100%;
      top: -50%;
      left: 0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 65%, white 100%);
      animation: drop 8s 0s infinite;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }
    
    &:nth-child(1) {
      margin-left: -25%;
      &::after {
        animation-delay: 2.5s;
      }
    }
    &:nth-child(3) {
      margin-left: 25%;
      &::after {
        animation-delay: 5s;
      }
    }
  }
}
    
@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

// MIXINS
@mixin button-hover-animation {
  transition: 0.5s ease transform;
  &:hover {
    transform: scale(1.05);
  }
}

@mixin nav-hover-animation {
  transition: 0.5s ease transform;
  &:hover {
    transform: scale(1.15);
  }
}

@mixin news-article-hover-animation { 
  transition: 0.5s ease all;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px white;

    h3 {
      color: $accentColor;
    }
  }
}

@mixin gig-article-hover-animation { 
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px white;
    cursor: pointer;
      h2 {
          margin-left: 2rem;
          transition: all 0.5s ease;
      }
      &:hover::before {
        content: "";
        background-position-x: right;
        padding-right: 4rem;
        opacity: 0.9;
        position: absolute;
        left: -20px;
        transform: rotate(30deg);
      }            
  }

}
