// KEYFRAMES
@keyframes arrow-down-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

@-webkit-keyframes echo {
  0% {
    padding: 0;
    margin: 0;
    opacity: 1;
  }

  100% {
    padding: 50px;
    margin: -50px;
    opacity: 0;
  }
}

@keyframes echo {
  0% {
    padding: 0;
    margin: 0;
    opacity: 1;
  }

  100% {
    padding: 400px;
    margin: -400px;
    opacity: 0;
  }
}

// ANIMATIONS

.header-icon-arrow-down {
  animation-name: arrow-down-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 10;
  animation-timing-function: ease-in-out;
}

.waves {
  position: absolute;
  right: 0;
  top: 50%;

  @include mobile {
    display: none;
  }
}

.wave {
  position: absolute;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  padding: 0;

  animation-name: echo;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

  -webkit-animation-name: echo;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-out;
}

.wave:nth-of-type(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.wave:nth-of-type(3) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}

// MIXINS
@mixin button-hover-animation {
  transition: 0.5s ease transform;
  &:hover {
    transform: scale(1.05);
  }
}

@mixin nav-hover-animation {
  transition: 0.5s ease transform;
  &:hover {
    transform: scale(1.15);
  }
}

@mixin news-article-hover-animation { 
  transition: 0.5s ease all;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px white;

    h3 {
      color: $accentColor;
    }
  }
}

@mixin gig-article-hover-animation { 
  transition: all 0.5s ease;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px white;
    cursor: pointer;
      h2 {
          margin-left: 2rem;
          transition: all 0.5s ease;
      }
      &:hover::before {
        content: "";
        background-position-x: right;
        padding-right: 4rem;
        opacity: 0.9;
        position: absolute;
        left: -20px;
        transform: rotate(30deg);
      }            
  }

}
