.form-container {
    display: flex;
    justify-content: start;
    margin-left: 10vw;
    @include mobile {
        justify-content: center;
        margin-left: 0;
    }
    .wp-block-contact-form-7-contact-form-selector {
        
        background-color: $accentColor;
        box-shadow: 0 0 5px $accentColor;
        z-index: 5;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: $default_padding;
        padding-bottom: $default_padding;
        border-radius: 2rem;
        margin-top: 3rem;
        margin-bottom: $default_margin;
        width: 45vw;
        max-width: 35rem;

        @include mobile {
            padding-left: 0;
            padding-right: 0;
            width: 95vw;
        }
    }

    label {
        @include mobile {
            width: 80vw;
        }

        span {
            input, textarea {
                border-radius: 5px;
                margin-top: 5px;
                width: 80%;
                border: 1px solid $primaryColor;
                box-shadow: 0 0 2px $primaryColor;
                transition: all 0.3s ease;
                &:hover {
                    box-shadow: 0 0 7px $primaryColor;
                }
            }
            input {
                height: 30px;
          
            }
            textarea {
                height: 200px;
                resize: none;
                overflow: auto;
            }
        }
    }

    .wpcf7-form-control-wrap {
        top:5px;
    }

    .wpcf7-list-item > label {
        display:flex;
        flex-direction: row-reverse;
        align-items: center;

        input[type=radio] {
            width: 5vw;

            @include mobile {
                width: 80%;
            }
        }
    }

    .wpcf7-list-item-label {
        @include mobile {
            width: 20vw;
        }
    }

    input[type=submit] {
        background: $primaryColor;
        outline: none;
        border: none;
        color: white;
        margin-top: 1rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        border-radius: $default_border_radius;
        
        @include button-hover-animation;
        @include mobile {
            width: 80%;
        }
    
    }

    form p {
        width: 80%;
        margin-left: 5%;
        @include mobile {
            width: 100%;
        }
    }
}