.footer {
  background-color: $primaryColor;
  color: $basicTextColor;
  font-size: 1.1rem;

  @include mobile {
    font-size: 0.9rem;
  }

  .footer__top-container {
    height: 25vh;
    display: grid;
    grid-template-columns: 50% 50%;

    @include mobile {
      display: flex;
      flex-direction: column;
      height: auto;
      margin-bottom: 4rem;
    }

    ul {
      list-style: none;
      display: flex;
      padding: 0;
      flex-direction: row;
      justify-content: space-between;

      li {
        padding-right: $default_padding;
        @include nav-hover-animation;
        a {
          text-decoration: none;
          color: $accentColor;
        }
      }
    }
    .top-container__left {
      ul {
        justify-content: flex-start;
        margin-left: $default_margin;

        @include mobile {
          margin-left: 1rem;
        }
      }
    }

    .top-container__right {
      justify-content: flex-end;

      @include mobile {
        padding: 1rem;
      }

      .footer__social-nav {
        color: $accentColor;
        display: flex;
        justify-content: start;
        flex-direction: row;

        ul {
          margin-right: $default_margin;
          margin-left: 1rem;
          margin-top: 6px;
          margin-bottom: 0;
        }

        .social-nav__prefix {
          white-space: nowrap;
        }

        .social-nav__item-link {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .social-nav-item-icon {
          width: 30px;
          height: 30px;
        }

        .social-nav-item-Facebook .social-nav-item-icon {
          background: url("../icons/facebook.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }

        .social-nav-item-Instagram .social-nav-item-icon {
          background: url("../icons/instagram.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }

        .social-nav-item-Spotify .social-nav-item-icon {
          background: url("../icons/spotify.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      .footer__contact-details {
        p {
          display: flex;
          justify-content: flex-start;
          color: $greyAccentColor;

          span:first-child {
            width: 5rem;
          }

          a {
            color: $greyAccentColor;
          }
        }
      }
    }
  }

  .footer__bottom-container {
    height: 12vh;
    background-color: $accentColor;
    color: $primaryColor;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;

    .footer__copyright {
      margin-right: $default_margin;
    }
  }
}
