.gigs__header {
    background-size: contain;
}

.gigs__slider-container {
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 4rem;
    flex-wrap: wrap;

    @include mobile {
        flex-direction: column;
    }

    article {
        width: fit-content;
        max-width: 32%;
        margin:auto;
        border-radius: $default_border_radius;
        padding-left: $default_padding;
        padding-right: $default_padding;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        @include gig-article-hover-animation;

        &::before {
            background: url('../icons/guitar.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: left;
            height: 50px;
            transition: all 0.5s ease;
        
        }

        @include mobile {
            width: 80vw;
            max-width: 90%;
            margin:0;
            margin-left: 2rem; 
            margin-right: 1rem;       
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        a {
            h2 {
                color: $accentColor;
                margin-left: 0;
                transition: all 0.5s ease;
            }
            h3, p {
                color: white;
            }
        }
    }

    article:nth-child(even){
        @include mobile {
            text-align: right;
            margin-right: 2rem;
            margin-left:5vw;
            width: 80vw;
        }
    }
}

#map {
    margin-bottom: 4rem;
    margin-top: 2rem;
    border-radius: $default_border_radius;
    margin-left:2rem; 
    margin-right: 2rem;

    @include mobile {
        border-radius: 0;
        margin-left:0;
        margin-right:0;
        margin-bottom: 2rem;
    }
}