@import "_colors.scss";
@import "_animations.scss";

header {
  & > section {
    padding-top: 0;
  }

  nav {
    ul {
      .current-menu-item {
        text-decoration: underline;
        text-underline-offset: 4px;
      }

      li {
        @include nav-hover-animation;
      }
    }
  }
}

.index__header {
  //width: 100vw;
  height: 100vh;
  background-image: url("../images/pexels-edward-eyer-811838.jpg");
  background-size: cover;
  padding-bottom: 0;

  @include mobile {
    background-position-x: center;
  }
}

.content-headertext {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: Exo;
    font-size: 6rem;
    font-weight: 400;

    @include mobile {
      font-size: 3rem;
    }
  }

  @include mobile {
    padding-top: 10%;
  }
}

.content-bottom {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  height: 20%;

  @include mobile {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .header-icon-arrow-down {
    position: absolute;
    bottom: 10px;
    width: 60px;
    background: url("../icons/down-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
    outline: none;

    @include mobile {
      display: none;
    }

    &:hover {
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
    }
  }

  .music-player {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    min-height: 70px;
    color: white;

    @include mobile {
      margin-bottom: 10%;
    }

    & > span {
      font-size: 1rem;

      @include mobile {
        font-size: 0.9rem;
      }
    }

    audio {
      outline: none;
      background: rgba(0, 0, 0, 0);
      margin-top:5px;

      @include mobile {
        width: 80vw;
        max-width: 20rem;
      }

      &::-webkit-media-controls-enclosure {
        border-radius: $default_border_radius;
        background-color: white;
        margin-top: 5px;
    }
    }
  }

  .book-now-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $default_border_radius;
    color: white;
    background-color: $accentColor;
    width: auto;
    height: auto;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 25px;

    @include mobile {
      font-size: 2rem;
      padding: 15px;
    }

    @include button-hover-animation;
  }
}

.topnav-active {
  background-color: $primaryColor;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  z-index: 9999;
  transition: all 0.3s linear;

  @include mobile {
    position: fixed;
    width: 100vw;

    &.fixed {
      background: $primaryColor;
    }
  }

  .logo-h1 {
    margin-left: 3%;
    a {
      font-family: "East Sea Dokdo";
      font-size: 6rem;
      color: white;

      @include mobile {
        font-size: 3.5rem;
      }
    }
  }

  .hamburger {
    display: none;
    outline: none;

    .hamburger-box {
      color: white;
    }

    @include mobile {
      display: inline-block;
    }
  }

  #burger-nav {
    display: none;
    position: absolute;
    top: 10vh;
    width: 100%;
    background-color: $primaryColor;

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      list-style: none;
      margin-right: $default_margin;
      li {
        a {
          font-size: 2rem;
          color: white;
        }
      }
    }
  }

  #normal-nav {
    display: block;
    width: 40%;

    @include mobile {
      display: none;
    }

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      li {
        a {
          font-size: 2rem;
          color: white;
        }
      }
    }
  }
}

.single__header,
.page__header {
  height: 50vh;
}
