// KEYFRAMES
@keyframes arrow-down-animation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(40px);
  }
}

// ANIMATIONS

.header-icon-arrow-down {
  animation-name: arrow-down-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: 10;
  animation-timing-function: ease-in-out;
}

// MIXINS
@mixin button-hover-animation {
  transition: 0.5s ease transform;
  &:hover {
    transform: scale(1.05);
  }
}

@mixin nav-hover-animation {
  transition: 0.5s ease transform;
  &:hover {
    transform: scale(1.15);
  }
}
