.index__services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/pexels-luis-quintero-2014774.jpg");
  background-size: cover;
  padding-bottom: 4rem;

  h2 {
    align-self: flex-start;
  }

  .services__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: $default_margin;
    margin-top: $default_margin;

    @include mobile {
      flex-direction: column;
      margin-top: 0;
    }

    .single-service {
      border-radius: $default_border_radius;
      background-color: $primaryColor;
      opacity: $custom_opacity;
      width: 35%;
      text-align: center;
      color: $basicTextColor;
      padding-bottom: 3rem;

      @include mobile {
        width: 90vw;
        margin-top: $default_margin;
        margin-bottom: $default_margin;
      }

      h3 {
        background-color: $greyAccentColor;
        color: $primaryColor;
        text-transform: uppercase;
        letter-spacing: 2px;
        white-space: nowrap;
        font-weight: 800;
        font-size: 1.6rem;
        color: black;
        margin-top: 0;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        border-top-left-radius: $default_border_radius;
        border-top-right-radius: $default_border_radius;
      }

      p {
        line-height: 1.5;
        font-size: 1.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
      }

      a {
        background-color: $accentColor;
        width: fit-content;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        border-radius: $default_border_radius;
        color: $basicTextColor;
        margin-top: $default_margin;
        margin-bottom: $default_margin;
        font-size: 1.5rem;
      }

      a:hover {
        box-shadow: 0 0 5px $accentColor;
      }
    }
  }

  .services__number {
    display: flex;
    flex-direction: row;
    background-color: $primaryColor;
    opacity: $custom_opacity;
    width: fit-content;
    align-items: center;
    margin-bottom: $default_margin;
    margin-top: $default_margin;
    padding-left: $default_padding;
    padding-right: $default_padding;
    border-radius: $default_border_radius;

    svg {
      height: 3rem;
      width: 3rem;
    }
    p {
      font-size: 3rem;
      margin-left: $default_margin;
      margin-top: $default_padding;
      margin-bottom: $default_padding;

      @include mobile {
        font-size: 2rem;
      }
    }
  }
}
