@import "_normalize.scss", "_colors.scss", "_fonts.scss", "_mixins.scss",
  "_index.scss", "_header.scss", "_footer.scss", "_services.scss", "_news.scss",
  "_gigs.scss", "_about.scss", "_gigs-page.scss", "_single.scss",
  "hamburgers/hamburgers.scss";

h1 {
  font-family: "East Sea Dokdo";
  margin: 0;
}

body {
  background-color: $primaryColor;
  font-family: "Exo";
}

a {
  text-decoration: none;
  font-family: "Exo";
}
