@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: "Exo";
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/* exo-500 - latin */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/exo-v11-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/exo-v11-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/exo-v11-latin-500.woff2") format("woff2"), url("../fonts/exo-v11-latin-500.woff") format("woff"), url("../fonts/exo-v11-latin-500.ttf") format("truetype"), url("../fonts/exo-v11-latin-500.svg#Exo") format("svg");
  /* Legacy iOS */
}
/* exo-700 - latin */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/exo-v11-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/exo-v11-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/exo-v11-latin-700.woff2") format("woff2"), url("../fonts/exo-v11-latin-700.woff") format("woff"), url("../fonts/exo-v11-latin-700.ttf") format("truetype"), url("../fonts/exo-v11-latin-700.svg#Exo") format("svg");
  /* Legacy iOS */
}
/* exo-800 - latin */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/exo-v11-latin-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/exo-v11-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/exo-v11-latin-800.woff2") format("woff2"), url("../fonts/exo-v11-latin-800.woff") format("woff"), url("../fonts/exo-v11-latin-800.ttf") format("truetype"), url("../fonts/exo-v11-latin-800.svg#Exo") format("svg");
  /* Legacy iOS */
}
/* exo-900 - latin */
@font-face {
  font-family: "Exo";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/exo-v11-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/exo-v11-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/exo-v11-latin-900.woff2") format("woff2"), url("../fonts/exo-v11-latin-900.woff") format("woff"), url("../fonts/exo-v11-latin-900.ttf") format("truetype"), url("../fonts/exo-v11-latin-900.svg#Exo") format("svg");
  /* Legacy iOS */
}
/* east-sea-dokdo-regular - latin */
@font-face {
  font-family: "East Sea Dokdo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/east-sea-dokdo-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/east-sea-dokdo-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/east-sea-dokdo-v8-latin-regular.woff2") format("woff2"), url("../fonts/east-sea-dokdo-v8-latin-regular.woff") format("woff"), url("../fonts/east-sea-dokdo-v8-latin-regular.ttf") format("truetype"), url("../fonts/east-sea-dokdo-v8-latin-regular.svg#EastSeaDokdo") format("svg");
  /* Legacy iOS */
}
html {
  color: #FFFFFF;
  background-color: #1E1F21;
}

section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  min-height: 30vh;
}
section > h2 {
  margin-left: 2rem;
  font-size: 2.5rem;
  font-weight: 500;
}
section > h2 span {
  font-weight: 800;
}

.maxwidthcontainer {
  max-width: 85em;
  margin: 0 auto;
}
.index__about {
  height: auto;
}

.index__header {
  height: 100vh;
  background-image: url("../images/pexels-edward-eyer-811838.jpg");
  background-size: cover;
  padding-bottom: 0;
}

.content {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  height: 80%;
}
.content .music-player {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 14%;
  min-height: 70px;
  color: white;
}
.content .music-player audio {
  outline: none;
}
.content .book-now-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  background-color: #B57614;
  width: 20%;
  height: 10vh;
  font-size: 3rem;
  font-weight: bold;
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
.topnav .logo-h1 {
  margin-left: 3%;
}
.topnav .logo-h1 a {
  font-family: "East Sea Dokdo";
  font-size: 6rem;
  color: white;
}
.topnav .nav-main {
  width: 40%;
}
.topnav .nav-main ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.topnav .nav-main ul li a {
  font-size: 2rem;
  color: white;
}

.single__header, .page__header {
  height: 40vh;
}

.footer {
  background-color: #1E1F21;
  color: #FFFFFF;
}
.footer .footer__top-container {
  height: 25vh;
  display: grid;
  grid-template-columns: 6fr 4fr;
}
@media (max-width: 900px) {
  .footer .footer__top-container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
.footer .footer__top-container ul {
  list-style: none;
  display: flex;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
}
.footer .footer__top-container ul li {
  padding-right: 1rem;
}
.footer .footer__top-container ul li a {
  text-decoration: none;
  color: #B57614;
}
.footer .footer__top-container ul li a:hover {
  font-weight: 600;
}
.footer .footer__top-container .top-container__left ul {
  justify-content: flex-start;
  margin-left: 2rem;
}
@media (max-width: 900px) {
  .footer .footer__top-container .top-container__left ul {
    margin-left: 1rem;
  }
}
.footer .footer__top-container .top-container__right {
  justify-content: flex-end;
}
@media (max-width: 900px) {
  .footer .footer__top-container .top-container__right {
    padding: 1rem;
  }
}
.footer .footer__top-container .top-container__right .footer__social-nav {
  color: #B57614;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.footer .footer__top-container .top-container__right .footer__social-nav ul {
  margin-right: 2rem;
}
.footer .footer__top-container .top-container__right .footer__social-nav .social-nav__prefix {
  white-space: nowrap;
}
.footer .footer__top-container .top-container__right .footer__contact-details p {
  display: flex;
  justify-content: flex-start;
  color: #C4C4C4;
}
.footer .footer__top-container .top-container__right .footer__contact-details p span:first-child {
  width: 5rem;
}
.footer .footer__top-container .top-container__right .footer__contact-details p a {
  color: #C4C4C4;
}
.footer .footer__bottom-container {
  height: 10vh;
  background-color: #B57614;
  color: #1E1F21;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}
.footer .footer__bottom-container .footer__copyright {
  margin-right: 2rem;
}

.index__services {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/pexels-luis-quintero-2014774.jpg");
  background-size: cover;
  padding-bottom: 4rem;
}
.index__services h2 {
  align-self: flex-start;
}
.index__services .services__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
@media (max-width: 900px) {
  .index__services .services__container {
    flex-direction: column;
  }
}
.index__services .services__container .single-service {
  border-radius: 10px;
  background-color: #1E1F21;
  opacity: 80%;
  width: 35%;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 3rem;
}
@media (max-width: 900px) {
  .index__services .services__container .single-service {
    width: 90vw;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.index__services .services__container .single-service h3 {
  background-color: #C4C4C4;
  color: #1E1F21;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  font-weight: 800;
  font-size: 1.6rem;
  color: black;
  margin-top: 0;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.index__services .services__container .single-service p {
  line-height: 1.5;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}
.index__services .services__container .single-service a {
  background-color: #B57614;
  width: fit-content;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  color: #FFFFFF;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.index__services .services__container .single-service a:hover {
  box-shadow: 0 0 5px #B57614;
}
.index__services .services__number {
  display: flex;
  flex-direction: row;
  background-color: #1E1F21;
  opacity: 80%;
  width: fit-content;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
}
.index__services .services__number svg {
  height: 3rem;
  width: 3rem;
}
.index__services .services__number p {
  font-size: 3rem;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.index__news {
  background-image: url("../images/pexels-erkan-utu-302655.jpg");
  background-size: cover;
}
.index__news .news__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 55%;
  max-width: 40rem;
  margin-left: 5rem;
  align-self: start;
  margin-top: 4rem;
  margin-bottom: 7rem;
}
@media (max-width: 900px) {
  .index__news .news__container {
    width: 90vw;
    margin-left: auto;
  }
}
.index__news .news__container .news__single-post {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  height: 13vh;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
@media (max-width: 900px) {
  .index__news .news__container .news__single-post {
    height: 15vh;
  }
}
.index__news .news__container .news__single-post .news__start-style {
  background-color: #B57614;
  width: 20px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.index__news .news__container .news__single-post .news__content {
  background-color: #C4C4C4;
  color: black;
  height: 100%;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 1rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 900px) {
  .index__news .news__container .news__single-post .news__content {
    padding-right: 0;
  }
}
.index__news .news__container .news__single-post .news__content h3 {
  margin: 0;
  padding-top: 5px;
}
.index__news .news__container .news__single-post .news__content p {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}
.index__news .news__container .news__single-post .news__content p a {
  color: black;
  text-decoration: underline;
  font-weight: 800;
  margin-top: 0.5rem;
}

.index__gigs {
  height: 60vh;
  margin-bottom: 4rem;
}
@media (max-width: 900px) {
  .index__gigs {
    height: 110vh;
  }
}
.index__gigs .gigs__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;
}
@media (max-width: 900px) {
  .index__gigs .gigs__container {
    flex-direction: column;
    height: 100%;
  }
}
.index__gigs .gigs__container .gigs__single-post {
  width: 25%;
  height: 80%;
  border-radius: 10px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 900px) {
  .index__gigs .gigs__container .gigs__single-post {
    width: 70%;
    height: 30%;
  }
}
.index__gigs .gigs__container .gigs__single-post .gigs__top-header {
  background-color: #C4C4C4;
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}
@media (max-width: 900px) {
  .index__gigs .gigs__container .gigs__single-post .gigs__top-header {
    height: 15%;
  }
}
.index__gigs .gigs__container .gigs__single-post .gigs__top-header h2 {
  color: black;
  margin: 0;
  font-weight: bold;
}
.index__gigs .gigs__container .gigs__single-post .gigs__content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  height: 40%;
  background-color: rgba(30, 31, 33, 0.9);
  border-radius: 10px;
  margin-top: 15%;
}
@media (max-width: 900px) {
  .index__gigs .gigs__container .gigs__single-post .gigs__content {
    margin-top: 5%;
    height: 40%;
    width: 70%;
  }
}
.index__gigs .gigs__container .gigs__single-post .gigs__content h2 {
  margin: 0;
  font-size: 1.4vw;
}
@media (max-width: 900px) {
  .index__gigs .gigs__container .gigs__single-post .gigs__content h2 {
    font-size: 1.5rem;
  }
}
.index__gigs .gigs__container .gigs__single-post .gigs__content .gigs__date,
.index__gigs .gigs__container .gigs__single-post .gigs__content .gigs_venue {
  font-weight: bold;
}
.index__gigs .gigs__container .gigs__single-post .gigs__content .gigs__address {
  font-size: 1.2vw;
}
@media (max-width: 900px) {
  .index__gigs .gigs__container .gigs__single-post .gigs__content .gigs__address {
    font-size: 1rem;
  }
}
.index__gigs .gigs__container .gigs__single-post .gigs__button {
  background-color: #B57614;
  margin-top: 20%;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 1.5rem;
}
@media (max-width: 900px) {
  .index__gigs .gigs__container .gigs__single-post .gigs__button {
    margin-top: 5%;
  }
}

.index__about {
  height: 80vh;
  padding-top: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: "about-img about-text";
}
.index__about .about-img {
  grid-area: about-img;
  background-image: url("../images/pexels-pixabay-210922.jpg");
  background-size: cover;
  border-radius: 0 0 10px 0;
}
.index__about .about-text {
  grid-area: about-text;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.index__about .about-text h2 {
  font-size: 2.5rem;
}
.index__about .about-text h2 span {
  font-weight: 800;
}
.index__about .about-text article {
  padding-right: 30%;
}
.index__about .about-text article p {
  font-size: 1.8rem;
  line-height: 120%;
}
.index__about .about-text article p:first-of-type {
  font-size: 2rem;
}
.index__about .about-text article span {
  color: #B57614;
}

.gigs__slider-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 4rem;
}
@media (max-width: 900px) {
  .gigs__slider-container {
    flex-direction: column;
  }
}
.gigs__slider-container article {
  width: fit-content;
  margin: auto;
}
@media (max-width: 900px) {
  .gigs__slider-container article {
    width: 90vw;
    margin: 0;
    margin-left: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.gigs__slider-container article a {
  color: #B57614;
}
.gigs__slider-container article h2 {
  margin-left: 0;
}
@media (max-width: 900px) {
  .gigs__slider-container article:nth-child(even) {
    text-align: right;
    margin-right: 4rem;
    margin-left: 0;
  }
}

#map {
  margin-bottom: 4rem;
  margin-top: 2rem;
  border-radius: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
}
@media (max-width: 900px) {
  #map {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.single__header {
  background-color: #B57614;
}
.single__header .single__post-title {
  font-size: 2rem;
  text-transform: uppercase;
  width: 100%;
  text-underline-offset: 5px;
  text-align: center;
  text-decoration: underline;
}

.single__post-container {
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 50vw;
}
@media (max-width: 900px) {
  .single__post-container {
    width: 90vw;
  }
}
.single__post-container div {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.single__post-container div p {
  line-height: 1.5;
}

h1 {
  font-family: "East Sea Dokdo";
  margin: 0;
}

body {
  background-color: #1E1F21;
  font-family: "Exo";
}

a {
  text-decoration: none;
  font-family: "Exo";
}

/*# sourceMappingURL=main.css.map */
